html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}

.button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

.prg {
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Form style______________ */
.form-section {
  padding-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.search-form input[name='query'] {
  width: 70%;
  height: 40px;
  padding-left: 20px;
}
/* Galery style __________________*/
/* .gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/* .gallery__item {
  width: 280px;
} */

.gallery__sizer,
.gallery__item {
  width: 32.2%;
}

.gallery__item {
  background-color: #0c5b8034;
  border: 1px solid #222;
}

.gallery__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 20px;
}
.stats {
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
}

.stats__item {
  margin: 0;
}
